includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
    stubFiles:
        - stubs/Illuminate/Contracts/Auth/Guard.stub
    excludePaths:
        - app/Providers/AppServiceProvider.php
    ignoreErrors:
        - "#Call to an undefined method#"
        - "#Property .* has no type specified#"

services:
    -
        class: NunoMaduro\Larastan\Rules\NoUnnecessaryCollectionCallRule
    -
        class: NunoMaduro\Larastan\Rules\NoParallelCollectionCallRule
