/* ============= PRELOADER CSS AREA =============== */

// preloader //
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999999999;
	background: $color6;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    max-width: 100px;
    padding-top: 4em;
}

.Preloader-icon {
    color: $white;
    height: 120px;
    margin-bottom: 40px;
    padding: 15px;
    position: relative;
    width: 120px;
}

.Preloader-icon img{
  max-width: 100%;
  margin-left: 16px;
  margin-top: 12px;
  height: 60px;
  width: 60px;
}
.Preloader-icon {
	position: relative;
	background: linear-gradient(0deg, $btn-color, $bg54);
    border-radius: 50%;
}

.Preloader-icon:before, .Preloader-icon:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, $color8, $color8, $color8,$color8, $white, $white, 
		$white, $bg6,$bg6, $bg6);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
    border-radius: 50%;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.se-pre-con.preloader2{
    background: $color10;
    img{
        filter: brightness(0) invert(1);
    }
    .Preloader-icon {
      background: $color10;
    }
    .Preloader-icon:before, .Preloader-icon:after{
        background: linear-gradient(90deg, $color9, $color8, $bg6,$bg6, $white, $white, 
		$white, $white,$bg6, $color8);
        animation: steam 20s linear infinite;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
    }
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}

.se-pre-con.preloader3{
    background: $color2;
    img{
        filter: brightness(0) invert(1);
    }
    .Preloader-icon {
      background: $color2;
    }
    .Preloader-icon:before, .Preloader-icon:after{
        background: linear-gradient(90deg, $color9, $color8, $bg6,$bg6, $white, $white, 
		$white, $white,$bg6, $color8);
        animation: steam 20s linear infinite;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
    }
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}
.se-pre-con.preloader4{
    background: $color4;
    img{
        filter: brightness(0) invert(1);
    }
    .Preloader-icon {
      background: $color4;
    }
    .Preloader-icon:before, .Preloader-icon:after{
        background: linear-gradient(90deg, $color9, $color8, $bg6,$bg6, $white, $white, 
		$white, $white,$bg6, $color8);
        animation: steam 20s linear infinite;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
    }
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}

.se-pre-con.preloader5{
    background: $bg5;
    img{
        filter: brightness(0) invert(1);
    }
    .Preloader-icon {
      background: $bg5;
    }
    .Preloader-icon:before, .Preloader-icon:after{
        background: linear-gradient(90deg, $bg55, $bg29, $color8,$color10, $white, $white, 
		$bg55, $bg29, $color8,$color10,);
        animation: steam 20s linear infinite;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
    }
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}
.se-pre-con.preloader6{
    background: $bg56;
    img{
        filter: brightness(0) invert(1);
    }
    .Preloader-icon {
      background: $bg56;
    }
    .Preloader-icon:before, .Preloader-icon:after{
        background: linear-gradient(90deg, $color14, $color14, $color15,$color15, $white, $white, 
		$bg55, $bg16, $bg16,$bg16,);
        animation: steam 20s linear infinite;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
    }
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}
.se-pre-con.preloader7{
    background: $color15;
    img{
        filter: brightness(0) invert(1);
    }
    .Preloader-icon {
      background: $color15;
    }
    .Preloader-icon:before, .Preloader-icon:after{
        background: linear-gradient(90deg, $color14, $color14, $white, $white, 
		$bg55, $bg16, $bg16,$bg16,);
        animation: steam 20s linear infinite;
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
    }
    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}
// progress //
.progress-wrap {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
   }
   .progress-wrap::after {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    color: $color1;
    left: 0;
    top: 0;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap:hover::after {
    opacity: 0;
   }
   .progress-wrap::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    opacity: 0;
    left: 0;
    top: 0;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap:hover::before {
    opacity: 1;
   }
   .progress-wrap svg path {
    fill: none;
   }
   .progress-wrap svg.progress-circle path {
    stroke: $color1;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
   }

   /* ============= PRELOADER CSS AREA ENDS=============== */
   