
$font1: 'Frank Ruhl Libre', serif;
$font2: 'Outfit', sans-serif;
$font3: 'Playfair Display', serif;
$font4: 'Urbanist', sans-serif;
$font5: 'Vidaloka', serif;

$base_font_size:16px;
$small_font_size: 16px;
$body_font_size: 20px;
$heading1_size: 75px;
$heading2_size: 42px;
$heading3_size: 32px;
$heading4_size: 24px;
$heading5_size: 56px;

$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$black: 900;

$border1:#ccc;
$border2:#E7E7E8;
$border3:rgba(7, 8, 18, 0.10);
$border4:#E6E6E7;
$border5:#222B33;
$border6:#F5F5F5;
$border7:#3E5A69;
$white: #ffffff;
$white_bg:#fff;
$white_color: #fff;
$primary_color: rgba(43, 73, 90, 0.10);
$primary_bg: #F6F6EC;
$secondary_color: #161540;
$section_bg: #F6F6EC;
$section_bg1:#F6F4FC;
$section_bg2:#FEC89A;
$section_bg3:rgba(255, 125, 0, 0.10);
$section_bg4:#F4F3EF;
$section_bg5:rgba(2, 123, 122, 0.10);
$section_bg6:#E6F2F2;
$section_bg7:#F2F1ED;
$heighlight_color: rgba(255, 255, 255, 0.90);
$bg3: rgba(87, 58, 169, 0.10);
$bg4: #E9ECEA;
$bg5: var(--Second-Color, #052A23);
$bg6:var(--Main-Color, #E5B472);
$bg7:rgba(255, 255, 255, 0.10);
$bg8:#1b1b1b;
$bg9:#cccccc45;
$bg10:#DFE0D8;
$bg11:#EDF7FF;
$bg12:rgba(5, 42, 35, 0.05);
$bg13:rgba(255, 125, 0, 0.20);
$bg14:#F5E8D9;
$bg15:rgba(255, 87, 34, 0.20);
$bg16:#EDF1F4;
$bg17:rgba(255, 87, 34, 0.10);
$bg18:#E6E1F4;
$bg19:#9C9CA0;
$bg20:#CDD3CF;
$bg21:#9A7EEA;
$bg22:#df7513;
$bg23:#EEF2F5;
$bg24:#F1D3CB;
$bg25:#FFE5CC;
$bg26:#F3F3F3;
$bg27:#F0F1F1;
$bg28:#DFE4E6;
$bg29:#8F70E8;
$bg30:#EBE5FB;
$bg31:#1E3D38;
$bg32:#144771;
$bg33:#345E81;
$bg34:#FF6838;
$bg35:#E2E5DD;
$bg36:#ECF7FF;
$bg37:#405B6A;
$bg38:#EFE5D4;
$bg39:#FF9733;
$bg40:rgba(237, 241, 244, 0.93);
$bg41:#394148;
$bg42:#345268;
$bg43:#E8E9FF;
$bg44:#FFE3E3;
$bg45:rgba(165, 200, 95, 0.05);
$bg46:#E7E7EA;
$bg47:#E6F2F2 ;
$bg48:#DBDBD8;
$bg49:rgba(244, 70, 47, 0.20);
$bg50:rgba(15, 78, 87, 0.08);
$bg51:#FCAB5E;
$bg52:#042845;
$bg53:#1B8887;
$bg54:#272727;
$bg55:#83C0EF;
$bg56:#2F465A;
$bg57:#FFF2ED;
$button_bg: #644AB0;
$solid_bg1: #FFF9F9;
$border1: #dddbdb;
$border2: #D9D9D9;
$color1:#0B1B23;
$color2:#2B495A;
$color3:#3A3A3F;
$color4:#573AA9;
$color5:#140D28;
$color6:#070812;
$color7:#3C3E4E;
$color8:#FF7D00;
$color9:#091515;
$color10:#027B7A;
$color11:#5A615E;
$color12:#595E65;
$color13:#08111C;
$color14: #0A141C;
$color15: #FF5722;
$color16:#777;
$color17:#a4a4a4;
$color18:#9F9F9F;
$color19:#515456;
$color20:#4B6473;
$color21:rgba(255, 255, 255, 0.80);
$color22:#0b1b23;
$color23:#FFBA00;
$color24:#FFA41C;
$btn-bg: #fff;
$btn-hover-bg: #3b5bdb;
$btn-color: #000;
$btn-hover-color: #fff;
