/*
============================
Name:  Lawsy Law Consulting Theme
Version: 1.0.0
Description:Lawsy law - Law $ Attorney Consulting Templete
Author: unifato
Version: 1.0.0
Author URI: https://themeforest.net/user/unifato/portfolio
Location:
============================
*/

/* ============= VARIABLES CSS AREA =============== */
/* ============= TYPHOGRAPHY CSS AREA =============== */
/* ============= RESPONSIVE CSS AREA =============== */
/* ============= PRELOADER CSS AREA =============== */
/* ============= MIXINS CSS AREA =============== */
/* ============= HEDAER CSS AREA =============== */
/* ============= WELCOME CSS AREA =============== */
/* ============= ABOUT CSS AREA =============== */
/* ============= BLOG CSS AREA =============== */
/* ============= SERVICE CSS AREA =============== */
/* ============= WORK CSS AREA =============== */
/* ============= BUTTON CSS AREA =============== */
/* ============= CASE STUDY CSS AREA =============== */
/* ============= TEAM CSS AREA  =============== */
/* ============= CONTACT CSS AREA =============== */
/* ============= CTA CSS AREA =============== */
/* ============= OTHERS CSS AREA =============== */
/* ============= RTL CSS AREA =============== */
/* ============= SIDEBAR CSS AREA =============== */
/* ============= FOOTER CSS AREA =============== */


@import 'variables';
@import 'typography';
@import 'responsive';
@import 'mixins';
@import 'preloader';
@import 'responsive';
@import 'components/button';
@import 'components/header';
@import 'components/welcome';
@import 'components/about';
@import 'components/services';
@import 'components/work';
@import 'components/team';
@import 'components/footer';
@import 'components/cta';
@import 'components/blog';
@import 'components/testimonials';
@import 'components/others';
@import 'components/contact';
@import 'components/casestudy';
@import 'components/sidebar';
@import 'components/rtl';



