/* ============= TEAM CSS AREA  =============== */


.team1-section-area{
    background: $section_bg;
    position: relative;
    z-index: 1;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .team1-header{
        margin-bottom: 60px;
        span{
            font-family: $font4;
            font-weight: $medium;
            color: $color2;
            background: $primary_color;
            display: inline-block;
            padding: 8px 10px;
            font-size: $small_font_size;
            border-radius: 4px;
            margin-bottom: 24px;
            line-height: 16px;
        }
        h2{
            font-family: $font1;
            font-size: $heading2_size - 2;
            line-height: 50px;
            font-weight: $regular;
            color: $color1;
            position: relative;
            z-index: 1;
            @media #{$xs} {
                font-size: $heading3_size;
                line-height: 42px;
            }

            img{
                position: absolute;
                top: -10px;
                @media #{$xs} {
                    top: 35px;
                }
            }
        }
    }
    .team-author-area{
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        background: $white;
        padding: 84px 32px 32px 32px;
        border-radius: 10px;
        transition: all .4s ease-in-out;
        margin-top: 60px;
        &:hover{
            transform: translateY(-7px);
            transition: all .4s ease-in-out;
        }
        img{
            margin-bottom: 24px;
            position: absolute;
            left: 32%;
            right: 32%;
            top: -60px;
            border-radius: 50%;
        }
        a{
            font-family: $font1;
            font-weight: $regular;
            line-height: 34px;
            color: $color1;
            font-size: $heading4_size;
            display: inline-block;
            margin-bottom: 8px;
        }
        p{
            font-family: $font4;
            font-weight: $medium;
            font-size: $small_font_size;
            color: $color3
        }
        .team-links-area{
            ul{
                margin-top: 32px;
                li{
                    display: inline-block;
                    a{
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        background: $section_bg;
                        line-height: 40px;
                        text-align: center;
                        color: $color1;
                        font-size: 20px;
                        border-radius: 50%;
                        transition: all .4s ease-in-out;
                        margin: 0 12px  0 0;
                        &:hover{
                            background: $color2;
                            color: $white;
                            transition: all .4s ease-in-out;
                        
                        }

                    }
                }
            }
        }
    }
}

// homepage2 //
.team2-section-area{
    background: $section_bg1;
    position: relative;
    z-index: 1;
    @media #{$xs} {
        padding: 50px 0 50px;
    }
    @media #{$md} {
        padding: 50px 0 50px;
    }
    .team1-header{
        margin-bottom: 50px;
        span{
            font-family: $font4;
            font-size: 16px;
            font-weight: $medium;
            color: $color4;
            padding: 8px 10px;
            background: $bg43;
            display: inline-block;
            margin-bottom: 24px;
            border-radius: 4px;
            line-height: 16px;

        }
        h2{
            font-family: $font1;
            font-size: $heading2_size - 2;
            line-height: 50px;
            font-weight: $regular;
            position: relative;
            z-index: 1;
            color: $color5;
            @media #{$xs} {
              font-size: $heading3_size;
              line-height: 42px;
            }
            img{
                position: absolute;
                top: -15px;
            }
        }
    }

    .team2-parent-boxarea{
        position: relative;
        margin-bottom: 50px;
        &:hover{
            .team2-social-links{
                visibility: visible;
                transition: all .6s ease-in-out;
                height: 185px;
                opacity: 1;
                z-index: 1;
                bottom: 70px;
            }
            .shareicon{
                background: $color4;
            }
            .team2images{
                overflow: hidden;
                transition: all .4s ease-in-out;
                img{
                    transform: scale(1.1);
                    transition: all .4s ease-in-out;
                }
            }
        }

        .team2-boxarea {
            position: relative;
            overflow-y: hidden;
            &:hover{
                .team2-social-links{
                    visibility: visible;
                    transition: all .6s ease-in-out;
                    height: 185px;
                    opacity: 1;
                    z-index: 1;
                }

            }
            .team2images{
                overflow: hidden;
                transition: all .4s ease-in-out;
                border-radius: 4px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .4s ease-in-out;
                }
            }
          }

          .team2-social-links{
            position: absolute;
            right: 35px;
            bottom: 92px;
            transition: all .6s ease-in-out;
            visibility: hidden;
            height: 0;
            bottom: 0;
            opacity: 0;
            z-index: -9;
            @media #{$xs} {
                right: 20px;
            }
            @media #{$md} {
                right: 20px;
            }
            ul{
                li{
                    a{
                        background: $white;
                        display: inline-block;
                        height: 36px;
                        width: 36px;
                        text-align: center;
                        line-height: 36px;
                        border-radius: 50%;
                        font-size: $small_font_size + 2;
                        color: $color5;
                        margin-bottom: 10px;
                        transition: all .4s ease-in-out;
                        &:hover{
                            background: $color4;
                            transition: all .4s ease-in-out;
                            color: $white;
                        }
                    }
                }
            }
          }
          .team2-textarea{
            position: absolute;
            width: 266px;
            left: 20px;
            bottom: -25px;
            z-index: 2;
            display: flex;
            align-items: center;
            background: $white;
            justify-content: space-between;
            padding: 18px  16px;
            border-radius: 5px;
            box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.09);
            @media #{$xs} {
                width: 100%;
                left: 0;
            }
            @media #{$md} {
                width: 100%;
                left: 0;
            }
            a{
                font-family:$font1 ;
                font-size: 20px;
                font-weight: $regular;
                color: $color5;
                display:inline-block;

            }
            p{
                font-family: $font4;
                font-weight: $medium;
                font-size:$small_font_size;
                color: $color3;

            }
            .shareicon {
                background: $color5;
                color: $white;
                height: 40px;
                width: 40px;
                display: inline-block;
                text-align: center;
                line-height: 40px;
                font-size: $small_font_size + 4;
                border-radius: 50%;
                overflow-y: hidden;
                transition: all .4s ease-in-out;
                cursor: pointer;
                a{
                    color: $white;
                    font-weight: $semi_bold;
                }
                &:hover{
                    background: $color4;

                }
               
              }
          }
    }
   
}

// teaminner //
.inner-pages{
    .team2-section-area.team-inner{
        background: $white;
        .team2-parent-boxarea{
            .team2-social-links{
                ul{
                    li{
                        a{
                            background: $white;
                        }
                    }
                }
            }
        }
    }
    .team1-section-area{
        background: $white;
        .team-author-area{
            background: var(--Gray-Color, $section_bg4);
            a{
                color:$color6;
                font-family:$font3;
                font-size: $heading4_size;
                font-style: normal;
                font-weight: $medium;
                line-height: 24px;  
                display: inline-block;            
            }
            p{
                color:$color7;
                font-family: $font2;
                font-size: $small_font_size;
                font-style: normal;
                font-weight: $regular;
                line-height: 16px;
            }
            .team-links-area{
                ul{
                    li{
                        a{
                            background: $white;
                            &:hover{
                                background: $color8;
                                color: $white;
                                transform: translateY(-3px);
                            }
                        }
                    }
                }
            }
        }
    }

}

// homepage6 //
.team6-section-area{
    @media #{$xs} {
        padding: 50px 0 20px;
    }
    @media #{$md} {
        padding: 50px 0 20px;
    }
    .team6-header{
        margin-bottom: 60px;
        span{
            border-radius: 1px;
            background: $bg15;
            color: $color15;
            font-family: $font2;
            font-size: $small_font_size;
            font-style: normal;
            font-weight: $regular;
            line-height: 16px; 
            padding: 8px 12px;
            display: inline-block;
            margin-bottom: 20px;                     
        }
        h2{
            color: $color14;
            font-family: $font5;
            font-size: $heading2_size + 2;
            font-style: normal;
            font-weight: $regular;
            line-height: 54px;
            @media #{$xs} {
                font-size: $heading3_size;
                line-height: 42px;
            }
        }
    }
    
   .team6-main-boxarea{
    position: relative;
    margin-bottom: 30px;
    &:hover{
        .team6-boxarea{
            .social-links{
                right: 20px;
                transition: all .8s ease-in-out;
                bottom: 100px;
            }
            .team6-images{
                .polygon3{
                    right: 0;
                    transition: all .6s ease-in-out;
                }
            }
            .team6-img{
                transform: scale(1.1);
                transition: all .4s ease-in-out;
            }
        }
    }
    .team6-boxarea{
        position: relative;
        overflow: hidden;
        background: $bg44;
        border-radius: 4px;
        .team6-img{
            transition: all .4s ease-in-out;
            position: relative;
            z-index: 2;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                border-radius: 4px;
                position: relative;
                z-index: 1;
            }
        }
        .team6-images{
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all .4s ease-in-out;
            .polygon3{
                    position: absolute;
                    bottom: 0;
                    right: -300px;
                    transition: all .6s ease-in-out;
            }
            .polygon4{
                bottom: 0;
                right: 0;
                z-index: -1;
                transition: all .4s ease-in-out;
            }
        }
        .social-links{
            position: absolute;
            right: 20px;
            z-index: 2;
            bottom: -130px;
            transition: all .8s ease-in-out;
            ul{
                li{
                    a{
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        border-radius: 50%;
                        background: $white;
                        font-size: $small_font_size + 2;
                        text-align: center;
                        line-height: 40px;
                        color: $color14;
                        margin-top: 8px;
                        transition: all .4s ease-in-out;
                        &:hover{
                            background: $color15;
                            color: $white;
                            transition: all .4s ease;
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }
    }
    .team-content{
        border-radius: 4px;
        background: $white;
        box-shadow: 0px 10px 48px 0px rgba(0, 0, 0, 0.09);
        padding: 20px;
        z-index: 2;
        position: absolute;
        width: 100%;
        bottom: -50px;
        margin-bottom: 30px;
        a{
            color: $color14;
            font-family: $font5;
            font-size: $heading4_size;
            font-style: normal;
            font-weight: $regular;
            line-height: 24px;
            display: inline-block;
            margin-bottom: 14px;            
        }
        p{
            color: var(--Paragraph-Color, $color19);
            font-family: $font2;
            font-size: $small_font_size;
            font-style: normal;
            font-weight: $regular;
            line-height: 16px;           
        }
    }
   }
}

// homepage7 //
.team7-section-area{
    @media #{$xs} {
        padding: 50px 0 20px;
    }
    @media #{$md} {
        padding: 50px 0 20px;
    }
    .team6-header{
        margin-bottom: 60px;
        span{
            border-radius: 1px;
            background: $bg15;
            color: $color15;
            font-family: $font2;
            font-size: $small_font_size;
            font-style: normal;
            font-weight: $regular;
            line-height: 16px; 
            padding: 8px 12px;
            display: inline-block;
            margin-bottom: 20px;                     
        }
        h2{
            color: $color14;
            font-family: $font2;
            font-size: $heading2_size + 2;
            font-style: normal;
            font-weight: $semi_bold;
            line-height: 54px;
            .defence{
                font-family: $font2;
                font-size: $heading2_size + 2;
                font-style: normal;
                font-weight: $semi_bold;
                line-height: 56px;
                background: none;
                padding: 0;
                margin-bottom: 0;         
                color: $color15;
                position: relative;
                @media #{$xs} {
                    font-size: $heading3_size;
                    line-height: 42px;
                  }
              }
              @media #{$xs} {
                font-size: $heading3_size;
                line-height: 42px;
              }
        }
    }
    
   .team6-main-boxarea{
    position: relative;
    margin-bottom: 30px;
    &:hover{
        .team6-boxarea{
            .social-links{
                right: 20px;
                transition: all .8s ease-in-out;
                bottom: 100px;
            }
            .team6-images{
                .polygon3{
                    right: 0;
                    transition: all .6s ease-in-out;
                }
            }
            .team6-img{
                transform: scale(1.1);
                transition: all .4s ease-in-out;
            }
        }
    }
    .team6-boxarea{
        position: relative;
        overflow: hidden;
        background: $bg44;
        border-radius: 4px;
        .team6-img{
            transition: all .4s ease-in-out;
            position: relative;
            z-index: 2;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                border-radius: 4px;
                position: relative;
                z-index: 1;
            }
        }
        .team6-images{
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all .4s ease-in-out;
            .polygon3{
                    position: absolute;
                    bottom: 0;
                    right: -300px;
                    transition: all .6s ease-in-out;
            }
            .polygon4{
                bottom: 0;
                right: 0;
                z-index: -1;
                transition: all .4s ease-in-out;
            }
        }
        .social-links{
            position: absolute;
            right: 20px;
            z-index: 2;
            bottom: -130px;
            transition: all .8s ease-in-out;
            ul{
                li{
                    a{
                        height: 40px;
                        width: 40px;
                        display: inline-block;
                        border-radius: 50%;
                        background: $white;
                        font-size: $small_font_size + 2;
                        text-align: center;
                        line-height: 40px;
                        color: $color14;
                        margin-top: 8px;
                        transition: all .4s ease-in-out;
                        &:hover{
                            background: $color15;
                            color: $white;
                            transition: all .4s ease;
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }
    }
    .team-content{
        border-radius: 4px;
        background: $white;
        box-shadow: 0px 10px 48px 0px rgba(0, 0, 0, 0.09);
        padding: 20px;
        z-index: 2;
        position: absolute;
        width: 100%;
        bottom: -50px;
        margin-bottom: 30px;
        a{
            color: $color14;
            font-family: $font2;
            font-size: $heading4_size;
            font-style: normal;
            font-weight: $semi_bold;
            line-height: 24px;
            display: inline-block;
            margin-bottom: 14px;            
        }
        p{
            color: var(--Paragraph-Color, $color19);
            font-family: $font2;
            font-size: $small_font_size;
            font-style: normal;
            font-weight: $regular;
            line-height: 16px;           
        }
    }
   }
}

/* ============= TEAM CSS AREA ENDS =============== */
